# equipment_purchases data

In [2]:
equipment_purchases = spark.read.parquet('/tmp/equipment_purchases')
equipment_purchases.show()
equipment_purchases.registerTempTable('equipment_purchases')

+--------------------+--------------------+------+-----------------+---------------+-------------------+--------------+
|           raw_event|           timestamp|Accept|             Host|     User-Agent|           event_ts|    event_type|
+--------------------+--------------------+------+-----------------+---------------+-------------------+--------------+
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531855363E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531863716E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531865772E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531867999E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531877223E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|   1.533539531883E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531887048E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3| 1.53353953189168E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3|1.533539531895078E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|user1.comcast.com|ApacheBench/2.3| 1.53353953189838E9|purchase_sword|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536666714E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536674991E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536677794E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536686833E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536695521E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536699299E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536701523E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536707264E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536710061E9|purchase_spear|
|{"event_ts": 1533...|2018-08-06 07:12:...|   */*|    user2.att.com|ApacheBench/2.3|1.533539536711992E9|purchase_spear|
+--------------------+--------------------+------+-----------------+---------------+-------------------+--------------+
only showing top 20 rows

In [4]:
#basic query to check how many event types are in the equipment_purchases table
#given the spark submit filter, we should only get purchase_sword, purchase_spear and purchase_shield
query = """
SELECT
    DISTINCT event_type
FROM
    equipment_purchases
"""
spark.sql(query).toPandas()

        event_type
0   purchase_sword
1   purchase_spear
2  purchase_shield

In [6]:
#query how many event for each event_types
query ="""
SELECT
    event_type,
    COUNT(*) event_count
FROM
    equipment_purchases
GROUP BY
    event_type
"""
spark.sql(query).toPandas()

        event_type  event_count
0   purchase_sword           10
1   purchase_spear           10
2  purchase_shield           40

# consumable_purchases data

In [7]:
consumable_purchases = spark.read.parquet('/tmp/consumable_purchases')
consumable_purchases.show()
consumable_purchases.registerTempTable('consumable_purchases')

+--------------------+--------------------+------+-------------+---------------+-------------------+-------------------+---------------+
|           raw_event|           timestamp|Accept|         Host|     User-Agent|        description|           event_ts|     event_type|
+--------------------+--------------------+------+-------------+---------------+-------------------+-------------------+---------------+
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775465839E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775474074E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775478743E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775483966E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775488017E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775489928E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775498662E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775502202E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775506153E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:06:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542775509951E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961166167E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961168622E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961170979E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp| 1.53354296117808E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961181883E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961185404E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961187187E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961188482E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961190765E9|purchase_potion|
|{"event_type": "p...|2018-08-06 08:09:...|   */*|user3.att.com|ApacheBench/2.3|heals you for 50 hp|1.533542961192258E9|purchase_potion|
+--------------------+--------------------+------+-------------+---------------+-------------------+-------------------+---------------+

In [8]:
#basic query to check how many event types are in the consumable_purchases table
#given the spark submit filter, we should only get purchase_potion
query = """
SELECT
    DISTINCT event_type
FROM
    consumable_purchases
"""
spark.sql(query).toPandas()

        event_type
0  purchase_potion

In [11]:
#query how many event for purchase_potion for each host
query ="""
SELECT
    host,
    COUNT(*) event_count
FROM
    consumable_purchases
GROUP BY
    host
"""
spark.sql(query).toPandas()

            host  event_count
0  user3.att.com           20